body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Merta Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 50px;
}


#mainControls {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(160, 165, 165, 0.295);
  padding: 10px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}

#mainControls label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

#mainMenuBody {
  display: flex;
  flex-direction: column;
}

#mainMenuDiv {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
}

#mainMenuDiv div {
    width: 50%;
    float: left;
    padding: 20px;
}

#mainMenuButtons {
  display: grid;
  grid-column: auto;
}

#mainMenuButtons button{
    background: white;
    border: 1px solid #a5b1c2;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #111111;
    display: inline-block;
    margin: 1rem auto;
    min-width: 180px;
    overflow: hidden;
    padding: 15px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .2s ease-in-out all;
}


button:hover {
  background-color: #4e2a8479;
  cursor: pointer;
}

#mainMenuButtons button:hover {
  background-color: #4e2a8479;
  cursor: pointer;
}

#connectionSetupMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  vertical-align: middle;
  align-self: center;
  position: relative;
}

#connectionSetupMenu div {
  display: inline-block;
  justify-content: space-evenly;
  width: 100%;
}